@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green-200: 148 38% 91%;
    --green-600: 169 82% 27%;
    --red: 0 66% 54%;
    --white: 0 0% 100%;
    --grey-500: 186 15% 59%;
    --grey-900: 187 24% 22%;

    --background: var(--green-200);
    --foreground: var(--grey-900);

    --card: var(--white);
    --card-foreground: var(--grey-900);

    --popover: var(--grey-900);
    --popover-foreground: var(--white);

    --primary: var(--green-600);
    --primary-foreground: var(--white);

    --secondary: var(--grey-900);
    --secondary-foreground: var(--white);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--green-600);
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: var(--red);
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: var(--grey-500);
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
